.lead {
  width: 984px;
  margin: 91.06px auto 0;
  text-align: center;
}

.lead__title {
  width: 720px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  width: 720px;
  margin: 32px auto 0;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.lead__image {
  width: 984px;
  height: 615px;
  margin: 64px auto 0;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
    margin: 0 auto;
  }

  .lead__title {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    font-size: 75px;
    line-height: 79px;
    font-weight: 900;
    text-align: center;
  }

  .lead__subtitle {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .lead__image {
    width: 100%;
    max-width: 768px; /* Figma 768 */
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 544px) {
  /* LEAD (320) */
  .lead {
    max-width: 288px; /* 320 - 16 - 16 */
    margin: 50px auto 0; /* gap desde el logo (72 -> 122) */
    text-align: center;
  }

  .lead__title {
    max-width: 228px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
  }

  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 40px; /* aprox según tus posiciones */
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  /* Imagen full-bleed (320px) aunque el contenido tenga padding 16 */
  .lead__image {
    width: 320px;
    height: 200px;
    display: block;
    margin-left: -16px;
    object-fit: cover;
  }
}
