.logo {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.logo__image {
  display: block;
  width: 318px; /* desktop (si tu figma desktop es 318) */
  height: auto;
}

/* TABLET (768) */
@media screen and (max-width: 1024px) {
  .logo__image {
    width: 254px;
    height: 66px; /* si te deforma, cámbialo a height:auto */
  }
}

/* MOBILE (320) */
@media screen and (max-width: 544px) {
  .logo__image {
    width: 188px;
    height: 52px; /* si te deforma, cámbialo a height:auto */
  }
}
