.photo-grid {
  padding: 92px 48px 0;
}

.photo-grid__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.photo-grid__item {
  margin: 0;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* TABLET: <= 1024px */
@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 720px;
    margin: 88px auto 0; /* si tu brief pide 92, lo cambiamos luego */
  }

  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .photo-grid__item {
    width: 100%;
  }

  .photo-grid__image {
    width: 100%;
    height: 264px;
    object-fit: cover;
    display: block;
  }
}

/* MOBILE: <= 544px */
@media screen and (max-width: 544px) {
  .photo-grid {
    max-width: 288px; /* 320 - 16 - 16 */
    margin: 64px auto 0;
  }

  .photo-grid__list {
    grid-template-columns: 1fr; /* 1 columna */
    gap: 12px;
  }

  .photo-grid__image {
    height: 216px;
  }
}
