.photo-grid {
  padding: 92px 48px 0;
}

.photo-grid__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.photo-grid__item {
  margin: 0;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
